// line-chart.component.scss
@import '@riapacheco/yutes/seasonal.scss'; // get those colors again

$width: 900px;
$height: 400px;

.chart-wrapper {
  width: $width;
  min-width: 0px;
  max-width: $width;
  height: $height;
  min-height: 0px;
  max-height: $height;
  color: $midnight-dark;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, $bondi-dark, $bondi-light);
  background-attachment: fixed;
}